<ol class="filters inline">
    {{#filters}}
    <li >
        <input type='text' class="basic" />
        <button type="button" class="btn" data-toggle="button">{{attributes.name}}</button>
    </li>
    {{/filters}}
</ol>
<!--<button type="button" data-loading-text="Loading..." id="statusButton" class="btn btn-primary pull-right">-->
    <!--Add a New Filter-->
<!--</button>-->
<div class="btn-group pull-right" id="statusButton">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        Add/Remove Filters
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a class="addFilter">add</a></li>
        <li><a>remove</a></li>
    </ul>
</div>
